<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/iconweb.png" type="image/png">
    
</head>
<body>
    <header>
        <h1>Registro de Usuario</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/nuevo-post">Nuevo Post</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-post" data-netlify="true">
            <h2>Crear Cuenta</h2>
            <form action="/register" method="POST" data-netlify="true">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit" class="btn-submit">Registrar</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Grupo - Blog del Proyecto TI</p>
    </footer>
</body>
</html>
